<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
@{
    Layout = "_Layout";
}
<h1>LyriX</h1>
<h4>Looking for the Sound</h4>
<br>
<br>
<br>
<h5><b>Lo que esta sonando ahora</b></h5>
<div class="card" style="width: 18rem;">
  @foreach (Canciones cancion in ViewBag.listaCanciones)
  {
    <a href='Url.Action("Cancion")'><img src="@cancion.fotoCancion" class="d-block w-100" alt="Canciones"></a>
    <div class="card-body">
      <h5>@cancion.nombreCancion</h5> 
    </div>   
  }
  
</div>
<br>
<br>
<br>
<h5><b>Los mas pegados</b></h5>
<div class="card" style="width: 18rem;">
  @foreach (Artistas art in ViewBag.listaArtistas)
  {
    <a href='Url.Action("PerfilArtista")'><img src="@art.fotoArtista" class="d-block w-100" alt="Artistas"></a>
    <div class="card-body">
      <h5>@art.nombre</h5>
    </div>  
  } 
</div>
<br>
<br>
<br>
<h5><b>Para escuchar en loop</b></h5>
<div class="card" style="width: 18rem;">
  @foreach (Albumes alb in ViewBag.listaAlbumes)
  {
    <a href='Url.Action("Album")'><img src="@alb.fotoAlbum" class="d-block w-100" alt="Albumes"></a>
    <div class="card-body">
      <h5>@alb.nombreAlbum</h5> 
    </div>
  }
</div>
  
  
  